body {
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: normal;
  background-color: #849d8f ;
  min-width: 1200px;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: white;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  min-height: 66px;
  margin: 0 auto;
}

.main-menu {
  width: 560px;
  float: left;
  min-height: 70px;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 30px 15px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
}

.main-menu a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #aac1b5;
}

.logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.logo img {
  position: relative;
  top: 12px;
}

.user-block {
  width: 267px;
  float: right;
  min-height: 70px;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 6px;
  font-size: 0px;
}

.user-block .sprite {
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
  background-color: #a3b8ad;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 7px;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

img.loop {
  position: absolute;
  left: 7px;
}

.login-img {
  position: absolute;
  left: 12px;
  top: 6px;
}

.cart-img {
  position: absolute;
  left: 12px;
  top: 5px;
}

.user-block .sprite:not(:last-child) {
  margin-right: 10px;
}

.find {
  border-radius: 50%;
  width: 32px;
}

.login {
  width: 92px;
  border-radius: 20px;
  text-align: right;
  padding-right: 16px;
}

.cart {
  width: 117px;
  border-radius: 20px;
  text-align: center;
  padding-left: 5px;
}

main {
  width: 1146px;
  margin: 0 auto;
}

main .container {
  position: relative;
}

.contacts {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: white;
}

.contacts .schedule {
  font-size: 14px;
  line-height: 16px;
}

.contacts .phone-number {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

.slider {
  min-height: 581px;
}

.slider-images img {
  margin: 0 auto;
  display: block;
}

.current-sales {
  min-height: 232px;
  margin-bottom: 38px;
}

.sales-block {
  width: 560px;
  min-height: 232px;
  border-radius: 25px;
  float: left;
  color: white;
  padding: 0px 23px;
  box-sizing: border-box;
}

.sales-block:last-child {
  float: right;
}

.strawberry {
  background-image: url("../img/malina.jpg");
}

.strawberry .btn-want {
  width: 165px;
}

.chocolate {
  background-image: url("../img/chocolate.jpg");
}

.chocolate .btn-want {
  width: 190px;
}

.btn-want {
  text-decoration: none;
  color: white;
  height: 47px;
  display: block;
  float: right;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 10px 20px;
  background: linear-gradient(#ff6633, #cc3333);
  font-weight: bold;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.btn-want:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-want:active {
  background: linear-gradient(#c73f2c, #e1613e);
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.75);
}

.hits {
  min-height: 333px;
  font-size: 0;
  margin-bottom: 32px;
}

.hits .item {
  width: 267px;
  min-height: 333px;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-right: 26px;
  vertical-align: top;
  position: relative;
}

.hits .item:last-child {
  margin: 0;
}

.hits a {
  text-decoration: none;
  color: white;
}

.item img {
  border-radius: 50%;
}

.hits a::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/hit-mark.jpg");
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.item-price {
  position: absolute;
  left: 0;
  top: 215px;
  font-size: 45px;
  line-height: 45px;
}

.item-price::after {
  content: "/кг";
  font-size: 30px;
  line-height: 45px;
}

.item-name { 
  border-bottom: 1px solid #9db1a5;
  font-size: 16px;
  line-height: 22px;
}

.about-us {
  min-height: 310px;
  background: url("../img/pattern-block1.jpg");
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  margin-bottom: 37px;
  padding: 1px 20px;
  color: #323232;
}

.about-us > p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 55px;
}

.feature {
  display: inline-block;
  width: 485px;
  vertical-align: top;я
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.feature:nth-child(2n+1) {
  margin-right: 65px;
}

.feature::before {
  content: "";
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -57px;
  top: -15px;
}

.feature:first-child::before {
  background: url("../img/ice-cream.svg");
}
.feature:nth-child(2)::before {
  background: url("../img/cow.svg");
}
.feature:nth-child(3)::before {
  background: url("../img/listik.svg");
}
.feature:nth-child(4)::before {
  background: url("../img/temperature.svg");
}

.bottom-block {
  min-height: 222px;
  width: 560px;
  border-radius: 20px;
  box-sizing: border-box;
}

.email-service {
  float: right;
  background: url("../img/block2.png") no-repeat;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 20px;
  position: relative;
}

.news-in-blog {
  float: left;
  color: #323232;
  padding-left: 21px;
  padding-top: 10px;
  background: url("../img/klubnika-block.jpg") no-repeat;
}

.news-in-blog h3 {
  font-size: 16px;
  line-height: 22px;
}

.news-in-blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.email {
  width: 368px;
  position: absolute;
  bottom: 42px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 0px 15px;
  box-sizing: border-box;
}

.btn-send {
  position: absolute;
  right: 26px;
  bottom: 42px;
  border: none;
}

.feedback {
  margin-bottom: 40px;
}

.map {
  height: 430px;
  width: 1200px;
  background: url("../img/ice-cream-map.png") no-repeat 265px 140px,
              url("../img/map.jpg") no-repeat;
  font-style: normal;
  position: relative;
  margin: 0 auto;
}

.address-block {
  height: 305px;
  background-color: white;
  border-radius: 15px;
  width: 302px;
  position: absolute;
  top: 63px;
  right: 27px;
  color: #323232;
  padding: 30px 25px;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.address-description {
  font-size: 14px;
  line-height: 20px;
}

.address-data {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.phone-order { margin-top: 20px; }

.address-data a {
  color: #323232;
  text-decoration: none;
}

.feedback-form {
  width: 250px;
  position: absolute;
  bottom: 30px;
  text-align: center;

}

.main-footer section {
  float: left;
  min-height: 103px;
  margin-top: 0px;
  box-sizing: border-box;
}

.social {
  width: 267px;
  margin-right: 26px;
  padding-top: 35px;
  font-size: 0px;
}

.social a {
  margin-right: 12px;
}

.social img {
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.additional-info {
  width: 560px;
  margin-right: 26px;
  padding: 30px 130px;
  padding-bottom: 0px;
}

.additional-info table {
  font-size: 13px;
  line-height: 18px;
}

.additional-info td {
  padding-right: 5px;
}

.additional-info a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #9db1a5;
}

.additional-info .active {
  font-weight: bold;
  position: relative;
}

.additional-info .active::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -22px;
  top: 1px;
  background: url("../img/heart.svg") no-repeat;
}

.developed-by {
  width: 267px;
  margin-right: 0px;
  text-align: right;
  padding-top: 20px;
}

.developed-by img {
  margin-right: 80px;
}

.made-in {
  font-size: 13px;
  line-height: 18px;
  color: white;
}

.made-in a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  color: white;
}



/* Стили для catalog.html */
.breadcrumbs {
}

.items-list-block {
  font-size: 0;
  margin-bottom: 70px;
}

.items-list-block > div {
  display: inline-block;
  width: 267px;
  min-height: 339px;
  font-size: 18px;
  margin-right: 26px;
  vertical-align: top;
}

.items-list-block > div:nth-child(4n) {
  margin-right: 0;
}

.pages {
  text-align: right;
}

.pages a {
}

.catalog-footer {
  margin-top: 26px;
}
