body {
  font-size: 18px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: black;
  font-weight: normal;
  background-color: #849d8f ;
  min-width: 1200px;
}

.site-wrapper {
  background-repeat: no-repeat;
  background-position: top center;
  transition: 0.5s;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: white;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  min-height: 66px;
  margin: 0 auto;
}

.main-menu {
  width: 560px;
  float: left;
  min-height: 70px;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
}

.main-menu li {
  display: inline-block;
  vertical-align: top;
  padding: 30px 15px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 18px;
}

.main-menu a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid #aac1b5;
  display: block;
  position: relative;
}

.main-menu a.active {
  border: none;
}

.main-menu .active::after {
  position: absolute;
  content: "";
  display: block;
  width: 87px;
  height: 32px;
  border-radius: 14px;
  left: -14px;
  top: -6px;
  background-color: #d07058;
  z-index: -1;
}

.logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.logo img {
  position: relative;
  top: 12px;
}

.user-block {
  width: 267px;
  float: right;
  min-height: 70px;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 15px;
  padding-left: 6px;
  font-size: 0px;
}

.user-block .sprite {
  display: inline-block;
  min-height: 32px;
  vertical-align: top;
  background-color: #a3b8ad;
  color: white;
  text-decoration: none;
  box-sizing: border-box;
  padding-top: 7px;
  font-size: 16px;
  line-height: 18px;
  position: relative;
}

img.loop {
  position: absolute;
  left: 7px;
}

.login-img {
  position: absolute;
  left: 12px;
  top: 6px;
}

.cart-img {
  position: absolute;
  left: 12px;
  top: 5px;
}

.user-block .sprite:not(:last-child) {
  margin-right: 10px;
}

.find {
  border-radius: 50%;
  width: 32px;
}

.login {
  width: 92px;
  border-radius: 20px;
  text-align: right;
  padding-right: 16px;
}

.cart {
  width: 117px;
  border-radius: 20px;
  text-align: center;
  padding-left: 25px;
}

main {
  width: 1146px;
  margin: 0 auto;
}

main .container {
  position: relative;
}

.contacts {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: white;
  font-weight: bold;
}

.catalog .contacts {
  top: -30px;
}

.contacts .schedule {
  font-size: 14px;
  line-height: 16px;
}

.contacts .phone-number {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  color: white;
}

.slider {
  min-height: 581px;
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
  line-height: 60px;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}

.slider-images img {
  margin: 0 auto;
  display: block;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

body > input[type="radio"] {
  display: none;
}

.slide { 
  display: none;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

.current-sales {
  min-height: 232px;
  margin-bottom: 38px;
}

.sales-block {
  min-width: 560px;
  min-height: 232px;
  border-radius: 25px;
  float: left;
  color: white;
  padding: 0px 23px;
  box-sizing: border-box;
}

.sales-block:last-child {
  float: right;
}

.strawberry {
  background-image: url("../img/malina.jpg");
}

.strawberry .btn-want {
  width: 165px;
}

.chocolate {
  background-image: url("../img/chocolate.jpg");
}

.chocolate .btn-want {
  width: 190px;
}

.btn-want {
  text-decoration: none;
  color: white;
  height: 47px;
  display: block;
  float: right;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0px 20px;
  line-height: 47px;
  background: linear-gradient(#ff6633, #cc3333);
  font-weight: bold;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.75);
}

.btn-want:hover {
  background: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.btn-want:active {
  background: linear-gradient(#c73f2c, #e1613e);
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.75);
}

.hits {
  min-height: 333px;
  font-size: 0;
  margin-bottom: 32px;
}

.item {
  width: 267px;
  min-height: 333px;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-right: 26px;
  vertical-align: top;
  position: relative;
}

.item:last-child {
  margin: 0;
}

.hits a,
.items-list-block a {
  text-decoration: none;
  color: white;
}

.item img {
  border-radius: 50%;
}

.hits a::before,
.item-list-block a::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: url("../img/hit-mark.jpg");
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}

.item-price {
  position: absolute;
  left: 0;
  top: 215px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-price::after {
  content: "/кг";
  font-size: 30px;
  line-height: 45px;
}

.item-name { 
  border-bottom: 1px solid #9db1a5;
  font-size: 16px;
  line-height: 22px;
}

.about-us {
  min-height: 310px;
  background: url("../img/pattern-block1.jpg");
  border-radius: 20px;
  color: black;
  box-sizing: border-box;
  margin-bottom: 37px;
  padding: 1px 20px;
  color: #323232;
}

.about-us > p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 25px;
}

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 55px;
}

.feature {
  display: inline-block;
  width: 485px;
  vertical-align: top;я
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}

.feature:nth-child(2n+1) {
  margin-right: 65px;
}

.feature::before {
  content: "";
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -57px;
  top: -15px;
}

.feature:first-child::before {
  background: url("../img/ice-cream.svg");
}
.feature:nth-child(2)::before {
  background: url("../img/cow.svg");
}
.feature:nth-child(3)::before {
  background: url("../img/listik.svg");
}
.feature:nth-child(4)::before {
  background: url("../img/temperature.svg");
}

.bottom-block {
  min-height: 222px;
  width: 560px;
  border-radius: 20px;
  box-sizing: border-box;
}

.email-service {
  float: right;
  background: url("../img/block2.png") no-repeat;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 20px;
  position: relative;
}

.news-in-blog {
  float: left;
  color: #323232;
  padding-left: 21px;
  padding-top: 10px;
  background: url("../img/klubnika-block.jpg") no-repeat;
}

.news-in-blog h3 {
  font-size: 16px;
  line-height: 22px;
}

.news-in-blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.email {
  width: 368px;
  position: absolute;
  bottom: 42px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  padding: 0px 15px;
  box-sizing: border-box;
}

.btn-send {
  position: absolute;
  right: 26px;
  bottom: 42px;
  border: none;
}

.feedback {
  margin-bottom: 40px;
}

.map {
  height: 430px;
  width: 1200px;
  background: url("../img/ice-cream-map.png") no-repeat 265px 140px,
              url("../img/map.jpg") no-repeat;
  font-style: normal;
  position: relative;
  margin: 0 auto;
}

.address-block {
  height: 305px;
  background-color: white;
  border-radius: 15px;
  width: 302px;
  position: absolute;
  top: 63px;
  right: 27px;
  color: #323232;
  padding: 30px 25px;
  box-sizing: border-box;
  padding-bottom: 150px;
}

.address-description {
  font-size: 14px;
  line-height: 20px;
}

.address-data {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.phone-order { margin-top: 20px; }

.address-data a {
  color: #323232;
  text-decoration: none;
}

.feedback-form {
  width: 250px;
  position: absolute;
  bottom: 30px;
  text-align: center;

}

.main-footer section {
  float: left;
  min-height: 103px;
  margin-top: 0px;
  box-sizing: border-box;
}

.social {
  width: 267px;
  margin-right: 26px;
  padding-top: 35px;
  font-size: 0px;
}

.social a {
  margin-right: 12px;
}

.social img {
  border: 3px solid #c2cec7;
  border-radius: 50%;
}

.additional-info {
  width: 560px;
  margin-right: 26px;
  padding: 35px 130px;
  padding-bottom: 0px;
  padding-right: 0;
  font-size: 0;
}

.additional-info ul {
  font-size: 13px;
  line-height: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
}

.additional-info ul:first-child {
  margin-right: 32px;
}

.additional-info a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #9db1a5;
}

.additional-info .active {
  font-weight: bold;
  position: relative;
}

.additional-info .active::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -22px;
  top: 1px;
  background: url("../img/heart.svg") no-repeat;
}

.developed-by {
  width: 267px;
  margin-right: 0px;
  text-align: right;
  padding-top: 20px;
}

.developed-by img {
  margin-right: 80px;
}

.made-in {
  font-size: 13px;
  line-height: 18px;
  color: white;
}

.made-in a {
  text-decoration: none;
  border-bottom: 1px solid #9db1a5;
  color: white;
}



/* Стили для catalog.html */
.catalog {
  color: white;
}

.catalog .main-footer .container {
  border-top: 1px solid #a9bbb1;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  margin-top: 30px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  padding-right: 21px;
  position: relative;
}

.breadcrumbs a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs li:not(.active)::after {
  content: "»";
  position: absolute;
  right: 6px;
}

.breadcrumbs a.active {
  border: none;
  cursor: default;
}

.items-list-block {
  font-size: 0;
  margin-bottom: 65px;
}

.items-list-block > div {
  display: inline-block;
  width: 267px;
  min-height: 339px;
  font-size: 18px;
  margin-right: 26px;
  vertical-align: top;
}

.items-list-block > div:nth-child(4n) {
  margin-right: 0;
}

.paginator {
  text-align: right;
  font-size: 0;
  margin-right: 22px;
  margin-bottom: 30px;
}

.paginator a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: relative;
}

.paginator a.active {
  background-color: white;
  color: #323232;
}

.paginator a:first-child::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 6px;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-right: none;
  border-top: none;
  transform: rotate(45deg);
}

.paginator a:first-child.active::before {
  content: "";
  opacity: 0.3;
}

.paginator a:last-child::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-right: none;
  border-top: none;
  transform: rotate(-135deg);
  right: -25px;
  bottom: 6px;
}

.paginator a:last-child.active::after{
  content: ">";
  opacity: 0.5;
}

.filters-block > h1 {
  margin-top: 5px;
  font-size: 35px;
  line-height: 41px;
}

label,
div.percent-fat {
  display: inline-block;
  vertical-align: top;
}

.filters > label {
  margin-right: 10px;
}

.filter-type {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  padding-left: 15px;
}

select {
  display: block;
  height: 35px;
  width: 193px;
  background-color: #a9bab0;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: 170px 15px;
  font-size: 16px;
  line-height: 18px;
  color: white;
  border-radius: 25px;
  border: none;
  padding-left: 15px;
  /*for WebKit*/
 -webkit-appearance: none;
 /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px; 
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
  appearance: none;
  position: relative;
}

.input-range {
  display: block;
  text-align: center;
  height: 35px;
  background-color: #a9bab0;
  padding: 0 16px;
  padding-top: 15px;
  width: 220px;
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
}

.input-range .scale {
  height: 4px;
  background-color: #d1dad3;
}

.input-range .bar {
  background-color: white;
  width: 50%;
  height: 4px;
  position: relative;
  left: 20%;
}

.input-range .toggle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 8px;
}

.toggle.min {
  left: 50px;
}

.toggle.max {
  left: 135px;
}

.percent-fat-radio {
  width: 415px;
  height: 35px;
  /*text-align: center;*/
  background-color: #a9bab0;
  border-radius: 20px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 45px;
  font-size: 16px;
  line-height: 18px;
}

.percent-fat-radio input {
  display: none;
}

.percent-fat-radio label {
  position: relative;
  margin-right: 40px;
}
.percent-fat-radio label:last-child {
  margin-right: 0px;
}

.percent-fat-radio input + label::before {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  left: -30px;
  top: -2px;
}

.percent-fat-radio input:checked + label::after {
   content: "";
   position: absolute;
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: white;
   left: -24px;
   bottom: 4px;
}

.inner {
  margin-top: 18px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 40px;
}

.inner-checkboxes {
  height: 35px;
  width: 700px;
  background-color: #a9bab0;
  border-radius: 20px;
  padding-top: 7px;
  box-sizing: border-box;
  padding-left: 50px;
}

.inner-checkboxes input {
  display: none;
}

.inner-checkboxes label {
  position: relative;
  margin-right: 35px;
  text-transform: lowercase;
}

.inner-checkboxes label:last-child {
  margin-right: 0px;
}

.inner-checkboxes input + label::before {
  content: "";
  position: absolute;
  left: -30px;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 3px;
}

.inner-checkboxes input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -26px;
  display: block;
  width: 14px;
  height: 9px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  box-sizing: border-box;
  transform: rotate(-45deg);
}

.filters button {
  border: none;
  color: white;
  background-color: #a9bab0;
  height: 35px;
  width: 145px;
  border-radius: 20px;
  position: relative;
  bottom: 1px;
  border: 2px solid white;
}
